<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Super newletters de la mort</h1>
    <p>
      <%= @subject %>
    </p>
    <p>
     
  </body>
</html>